body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', BlinkMacSystemFont, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(315deg, rgb(255, 182, 193) 3%, rgb(255, 105, 180), rgba(255, 192, 203, 1) 68%, rgb(255, 240, 245) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(255, 182, 193, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }
    25% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(1);
    }
}

.container {
    color: #fff;
    background: rgba(255, 192, 203, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 .2rem #ff69b4, 0 0 .2rem #ff1493, 0 0 2rem #ff69b4, 0 0 0.8rem #ff1493, 0 0 2.8rem #ff69b4, inset 0 0 1.3rem #ff69b4;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: 2px solid #ff1493;
}

h1 {
    color: #ff1493;
    font-size: 24px;
    margin-bottom: 15px;
}

label {
    background-color: #ff69b4;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}

.centered-textarea {
    color: #fff;
    display: flex;
    margin: 0 auto;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ff1493;
    border-radius: 5px;
    resize: none;
}

.btn-primary {
    background-color: #ff69b4;
    border: 1px solid #ff1493;
    color: #fff;
}

.btn-primary:hover {
    background-color: #ff1493;
    border: 1px solid #ff69b4;
}

.success-message {
    color: #32cd32;
    margin-top: 10px;
}

.footer {
    background-color: #ff69b4;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-top: 50px;
    border-top: 1px solid #ff1493;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    display: inline-block;
    margin-right: 30px;
}

.container-buttons {
    margin-top: 20px;
    text-align: center;
}

.container-buttons .btn {
    margin: 5px;
}

#result {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.center-placeholder::placeholder {
    text-align: center;
}

.form-check {
    display: flex;
    margin-top: 10px;
    padding: 14px;
    align-items: center;
    border: 1px solid #ff1493;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border-color: #ff1493;
    background-color: #fff;
}

.form-check:hover {
    background-color: #ffe4e1;
    border-color: #ff1493;
}

.form-check-input {
    margin-right: 10px;
    opacity: 0;
}

.disable {
    display: none;
}

#inputOfPrefix,
#inputOfAdmin,
#inputOfBotName {
    padding: 13px;
    width: 200px;
    border: 1px solid #ff1493;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border-color: #ff1493;
    background-color: #fff;
}

#listOfCommands,
#listOfCommandsEvent,
#prefixOfCommands,
#adminOfCommands {
    border: none !important;
}

#listOfCommands:not(.modal), #listOfCommandsEvent:not(.modal), #prefixOfCommands:not(.modal), #adminOfCommands:not(.modal) {
    box-shadow: 0 10px 20px rgba(255, 105, 180, 0.3), 0 6px 6px rgba(255, 105, 180, 0.23);
}

#listOfCommandsEvent:not(.modal),
#prefixOfCommands:not(.modal),
#adminOfCommands:not(.modal) {
    box-shadow: none !important;
}

div {
    margin-bottom: 10px;
    border-radius: 5px;
}

video {
    max-width: 100%;
    max-height: 40%;
    margin-bottom: 20px;
    cursor: default;
    outline: 2px solid #ff1493;
    background: linear-gradient(135deg, #ffb6c1, #ff69b4, #ff1493, #ffb6c1);
    border-radius: 10px;
    animation: animate 1.5s linear infinite;
    border: 2px solid transparent;
    animation: neon-border 2s linear infinite alternate;
}

@keyframes neon-border {
    from {
        border-color: #ff1493;
        box-shadow: 0 0 10px #ff69b4, 0 0 20px #ff1493, 0 0 30px #ff1493;
    }
    to {
        border-color: #ffb6c1;
        box-shadow: 0 0 20px #ffb6c1, 0 0 40px #ff69b4, 0 0 60px #ff1493;
    }
}

#video-container {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    display: flex;
}

#video {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

#json-data {
    background-image: url('https://i.ibb.co/hffhZhD/438312467.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
